.slides{
    max-width: 500px;
    height: 650px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}

.slide{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.slide.active{
    display: block;
}

.slide img {
    width: 100%;
}

.controls{
    margin-top: 20px;
}